.leaflet-container {
	background-color: black;
	cursor: pointer;
	height: 100%;
	width: 100%;
	box-sizing: border-box;

	&:active {
		cursor: grab;
	}
}

.canvas-wrapper {
	height: 100%;

	canvas {
		height: 100%;
		width: 100%;
		display: block;
	}
}

.marker-point {
	.point()
}

.marker-point--lime {
	background-color: lime;
}

.marker-point--blue {
	background-color: blue;
}

.marker-point--red {
	background-color: red;
}

.marker-point--white {
	background-color: white;
}