.color-scale {
	display: none;
	position: absolute;
	top: @pad;
	right: @pad;
	background-color: black;
	border: @radius solid @dark-gray;
	border-radius: @radius;
	line-height: 0;
	transition: transform @duration @transition-type;
}

.sidebar-open .color-scale {
	transform: translateX(-@aside-width);
}

.color-scale--1d, .color-scale--2d, .color-scale--3d {
	display: block;
}

.color-scale__canvas {
	position: relative;
	display: inline-block;

	canvas {
		display: block;
		width: 100%;
		height: 100%;
	}
}

.color-scale__histogram {
	display: inline-block;
}

.color-scale__indicator {
	.point();
	top: -5px;
	left: -5px;
}

.color-scale__vertex3d {
	.point();
	display: none;
}

.color-scale--3d .color-scale__vertex3d {
	display: block;
}

.vertex-3d--bl {
	left: -6px;
	bottom: -6px;
}

.vertex-3d--br {
	right: -6px;
	bottom: -6px;
}

.vertex-3d--t {
	top: -6px;
	right: 50%;
	transform: translateX(6px);
}

.color-scale__triangle {
	position: absolute;
	top: 0;
	left: 0;

	polygon {
		fill: @dark-gray;
	}
}