.color-scale {
	display: none;
	position: absolute;
	top: @pad;
	right: @pad;
	background-color: black;
	border: 2px solid @dark-gray;
	border-radius: @radius;
	line-height: 0;
}

.color-scale--1d, .color-scale--2d, .color-scale--3d {
	display: block;
}

.color-scale--3d {
	.color-scale__vertex3d, .color-scale__triangle {
		display: block;
	}

	.color-scale__canvas canvas {
		display: none;
	}
}

.color-scale__canvas {
	position: relative;
	display: inline-block;

	canvas {
		display: block;
		width: 100%;
		height: 100%;
	}
}

.color-scale__histogram {
	display: none;
}

.color-scale--1d .color-scale__histogram {
	display: inline-block;
}

.point() {
	position: absolute;
	border: 1px solid white;
	box-shadow: 0 0 0 1px black;
	border-radius: 50%;
	width: 10px;
	height: 10px;
}

.color-scale__indicator {
	.point();
	top: -5px;
	left: -5px;
}

.color-scale__vertex3d {
	display: none;
	.point();
}

.vertex-3d--bl {
	left: -6px;
	bottom: -6px;
}

.vertex-3d--br {
	right: -6px;
	bottom: -6px;
}

.vertex-3d--t {
	top: -6px;
	right: 50%;
	transform: translateX(6px);
}

.color-scale__triangle {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
}