// === Display view ===
@canvas-tools-height: 60%;
@content-top-height: 60%;
@menu-height: 46px;
@aside-width: 300px;
@regions-list-height: 40%;

.display-view {
	height: 100%;
	width: 100%;
}

.display-view__menu {
	width: 100%;
	height: @menu-height;
	box-sizing: border-box;
	position: fixed;
	z-index: 2001;
	padding: @small-pad;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;

	.pure-button {
		padding: 0.5em 1em;
	}
}

.display-view__content {
	height: 100%;
	padding-top: @menu-height;
	box-sizing: border-box;
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	overflow: hidden;
	position: relative;
}

.content__aside {
	position: absolute;
	box-sizing: border-box;
	right: -@aside-width;
	top: 0;
	padding-top: @menu-height;
	height: 100%;
	width: @aside-width;
	transition: transform @duration @transition-type;
	z-index: 2000;
}

.sidebar-open .content__aside {
	transform: translateX(-100%);
}

.aside__top, .aside__bottom {
	position: relative;
	box-sizing: border-box;
	background-color: @light-gray;
	border-left: @radius solid @dark-gray;
	padding-top: 30px;
	padding-bottom: @small-pad;

	h4 {
		margin: 0;
		padding: @small-pad;
		position: absolute;
		top: 0;
	}

	ul {
		box-sizing: border-box;
		max-height: 100%;
		overflow-y: auto;
	}
}

.aside__top {
	height: @regions-list-height;
}

.aside__bottom {
	height: 100% - @regions-list-height;
	border-top: @radius solid @dark-gray;
}

.content__main {
	height: 100%;
	width: 100%;
}

.main__top {
	height: @content-top-height;
	position: relative;
}

.main__bottom {
	height: 100% - @content-top-height;
	position: relative;
}

.menu__left, .menu__right {
	display: flex;
	flex-flow: row nowrap;

	& > *:not(:last-child) {
		margin-right: @pad;
	}
}

.mode-switches {
	display: inline-block;

	input {
		display: none;
	}
}


@import url(spectrum-viewer.less);
@import url(canvas-wrapper.less);
@import url(color-scale.less);
@import url(marker-menu.less);
@import url(range-region-list.less);

