.marker-menu {
	display: inline-block;
}

.marker-menu__button {
	
	display: inline-block;
	position: relative;
	border-left: @small-pad solid transparent;
	border-radius: @radius;
	color: rgba(0, 0, 0, 0.8);
	white-space: nowrap;
	overflow-x: hidden;

	&.off {
		opacity: 0.5;
	}

	& + .marker-menu__button {
		margin-left: @small-pad;
	}

	.pure-button {
		width: 50%;
		transition: all @duration @transition-type;
	}
}

.marker-menu__button.only, .marker-menu__button.off {

	.marker-menu__button--edit {
		width: 100%;
		border-radius: 0 @radius @radius 0;
	}
}

.marker-menu__button--edit {
	border-radius: 0;
}

.marker-menu__button--switch-off {
	border-radius: 0 @radius @radius 0;
}