.range-list, .region-list {
	list-style: none;
	padding: 0 @small-pad;
	margin: 0;
}

.range-list__item, .region-list__item {
	position: relative;
	user-select: none;
	word-wrap: break-word;
	padding: @small-pad;
	transition: all @duration @transition-type;
	border-left: @small-pad solid @info-color;
	border-radius: @radius;
	opacity: 0.5;
	background-color: @dark-gray;

	&.active {
		opacity: 1;
	}

	&:not(.editing) {
		cursor: pointer;
	}

	.item__controls {
		position: absolute;
		top: 2px;
		right: 1px;

		i {
			opacity: 0.5;
			transition: all @duration @transition-type;
			cursor: pointer;

			&:hover {
				opacity: 1;
			}
		}
	}

	.icon-remove:hover {
		color: @error-color;
	}

	.item__edit-form {

		input[type="submit"] {
			display: none;
		}
	}
}

.range-list__item {

	.item__group-chooser {
		height: 20px;
		margin-top: @small-pad;

		.pure-button {
			height: 100%;
			display: inline-block;
			padding: 0;
			border-radius: 0;
		}
	}

	.item__labels {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-around;
		margin-top: @small-pad;
	}

	.item__label-button {
		background: none;
		border: 0;
		padding: 0;
		color: inherit;
		opacity: 0.25;
		transition: opacity @duration @transition-type;

		&:not(.enabled) {
			cursor: default;
		}

		&.enabled {
			opacity: 0.5;

			&:hover {
				opacity: 1;
			}
		}
	}
}