<div data-ng-class="colorScaleClass()">
	<canvas class="color-scale__histogram" width="30" height="256" color-scale-histogram="" data-ng-if="showHistogram()"></canvas><!--
	--><div class="color-scale__canvas" data-ng-style="colorScaleDimension()">
		<div class="color-scale__bounds">
			<div class="bounds bounds--top" data-ng-style="boundsStyles.top"></div>
			<div class="bounds bounds--bottom" data-ng-style="boundsStyles.bottom"></div>
			<div class="bounds bounds--left" data-ng-style="boundsStyles.left"></div>
			<div class="bounds bounds--right" data-ng-style="boundsStyles.right"></div>
		</div>
		<canvas width="256" height="256" data-color-scale-canvas=""></canvas>
		<span class="color-scale__indicator" data-ng-style="indicatorStyle()"></span>
	</div>
</div>