<div data-ng-style="colorScaleStyle()" data-ng-class="colorScaleClass()">
	<canvas width="256" height="256" data-color-scale-canvas=""></canvas>
	<svg class="color-scale__triangle" height="256" width="256">
		<polygon points="0,256 256,256 128,0" style="fill:#3b3b3b;"/>
	</svg> 
	<span class="color-scale__vertex3d vertex-3d--bl" data-ng-style="vertex3DColor(0)"></span>
	<span class="color-scale__vertex3d vertex-3d--br" data-ng-style="vertex3DColor(1)"></span>
	<span class="color-scale__vertex3d vertex-3d--t" data-ng-style="vertex3DColor(2)"></span>
	<span class="color-scale__indicator" data-ng-style="indicatorStyle()"></span>
</div>