<li class="range-list__item" data-ng-class="class()" data-ng-style="style()" data-ng-click="toggleRange()">
	<span class="item__controls">
		<i class="icon-pencil" data-ng-if="inMeanMode()" data-ng-click="chooseGroup($event)" data-tooltip="Choose a group."></i>
		<i class="icon-remove" data-ng-click="removeRange($event)" data-tooltip="Remove this range."></i>
	</span>
	<form class="item__group-chooser" data-ng-class="{show: data.choosingGroup}">
		<label for="{{index}}-group-{{group}}" class="pure-button" style="background-color:{{group}};height:{{100/range.groups.length}}%;" data-ng-repeat="group in range.groups">
			<input id="{{index}}-group-{{group}}" type="radio" name="group" value="{{group}}" data-ng-model="range.group"/>
		</label>
	</form>
	{{data.label}}
</li>