<li class="region-list__item" data-ng-class="class()" data-ng-click="toggleRegion()">
	<span class="item__controls">
		<i class="icon-pencil" data-ng-click="edit($event)" data-tooltip="Toggle editing." data-ng-class="{active:data.editing}"></i>
		<i class="icon-remove" data-ng-click="removeRegion($event)" data-tooltip="Remove this region."></i>
	</span>
	<div data-ng-if="!data.editing" data-ng-bind="region.getName()"></div>
	<form class="item__edit-form" data-ng-if="data.editing" data-ng-submit="edit($event)">
		<input type="text" data-ng-model="region._name" />
		<input type="submit" value="submit" />
	</form>
</li>