<div class="spectrum-viewer" data-ng-mousemove="mousemove($event)" data-ng-mouseup="finishRange()">
	<div class="spectrum-viewer__scroll" data-ng-style="scrollStyle"></div>
	<div class="spectrum-viewer__info" data-ng-style="innerStyle">
		Channel: {{data.label}}<br/>
		Intensity: {{data.value}}
	</div>
	<div class="spectrum-viewer__inner" data-ng-style="innerStyle" data-ng-mousedown="addRange($event)">
		<canvas></canvas>
		<span class="spectrum-viewer__indicator" data-ng-style="indicatorStyle"></span>
	</div>
	<span class="spectrum-viewer__range" data-ng-repeat="range in ranges" style="left:{{range.start}}px; width:{{range.offset}}px;" ng-click="removeRange($index)"></span>
</div>