<div class="spectrum-viewer" data-ng-mousemove="mousemove($event)" data-ng-mousedown="mousedown($event)" data-ng-mouseup="mouseup()" data-ng-click="click($event)" data-ng-class="{'scrolling':scroll.start>=0}">
	<div class="spectrum-viewer__scroll" style="width:{{spectrum.length}}px;transform:scaleX({{zoom.factor}});-webkit-transform:scaleX({{zoom.factor}});">
		<span class="spectrum-viewer__range" data-ng-class="range.class()" data-ng-repeat="range in ranges" data-ng-style="range.style()" data-tooltip="{{range.getName()}}" data-tooltip-placement="top"></span>
	</div>
	<div class="spectrum-viewer__inner" data-ng-style="innerStyle">
		<div class="spectrum-viewer__canvas-wrapper" style="height:{{props.height}}px;" data-ng-class="{'butterfly':data.layers==2}">
			<div class="spectrum-viewer__ratio ratio--25 number"></div>
			<div class="spectrum-viewer__ratio ratio--50 number"></div>
			<div class="spectrum-viewer__ratio ratio--75 number"></div>
			<div class="spectrum-viewer__ratio inverse-ratio--0 number"></div>
			<div class="spectrum-viewer__ratio inverse-ratio--25 number"></div>
			<div class="spectrum-viewer__ratio inverse-ratio--50 number"></div>
			<div class="spectrum-viewer__ratio inverse-ratio--75 number"></div>
			<canvas class="spectrum-viewer__canvas" data-spectrum-viewer-canvas="layer" data-props="layerProps" data-ng-repeat="layer in spectrum.layers"></canvas>
			<span class="spectrum-viewer__indicator" data-ng-style="indicatorStyle"></span>
		</div>
		<div class="spectrum-viewer__info">
			<span style="color:{{layer.color}};" data-ng-repeat="(index, layer) in spectrum.layers"><span class="number" data-ng-bind="data.values[index]"></span>% </span>at <span class="number" data-ng-bind="data.label"></span> m/z
		</div>
		<div class="spectrum-viewer__x-axis">
			<span class="spectrum-viewer__label number" data-ng-repeat="label in labels" style="transform:translateX({{$index*props.labelOffset}}px);-webkit-transform:translateX({{$index*props.labelOffset}}px);" data-ng-bind="label"></span>
		</div>
	</div>
</div>
