// === Display view ===

.display-view {
	white-space: nowrap;
	line-height: 0;
}

.canvas-tools {
	width: @canvas-tools-width;
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin-right: @pad;
	white-space: normal;

	.pure-button {
		width: 100%;
		transition: all 250ms;
		box-sizing: border-box;
	}
}

.tool-button {
	transition: all 250ms;
	border-left: @small-pad solid transparent;
	border-radius: @radius;
	margin-bottom: @pad;
	overflow: hidden;
	color: rgba(0, 0, 0, 0.8);
	box-sizing: border-box;

	.pure-button {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;

		&.clear {
			width: 0%;
			padding: 0.5em 0;
		}
	}

	&.passive {
		border-left-width: @pad;
		//margin-bottom: @small-pad;

		.clear {
			width: 30%;
		}

		.draw {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			width: 70%;
		}
	}
}

.canvas-wrapper {
	height: 500px;
	width: 500px;
	max-width: 100%;
	position: relative;
	display: inline-block;
	overflow: hidden;

	&:after {
		height: 0;
		width: 0;
		border-top: 10px solid transparent;
		border-left: 10px solid transparent;
		border-right: 10px solid #999;
		border-bottom: 10px solid #999;
		position: absolute;
		right: 0;
		bottom: 0;
		pointer-events: none;
		content: '';
	}

	canvas {
		.image-crisp-edges;
		height: auto;
		width: 100%;
		display: block;
		pointer-events: none;
	}
}


.tool-point {
	@dim: 10px;
	@border: 1px;
	position: absolute;
	cursor: pointer;
	// 2*border because of border+shadow
	width: @dim - 2 * @border;
	height: @dim - 2 * @border;
	// tool-points are positioned using %-values. the transformation sets the
	// center of the point to the %-coordinates.
	transform: translate(-@dim / 2,-@dim / 2);

	border: @border solid white;
	box-shadow: 0 0 0 @border black;
	border-radius: 50%;
}

.tool-point-lime {
	.tool-point;
	background-color: lime;
}

.tool-point-blue {
	.tool-point;
	background-color: blue;
}

.tool-point-red {
	.tool-point;
	background-color: red;
}

.tool-point-gray {
	.tool-point;
	background-color: gray;
}

.canvas-overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;

	img {
		width: 100%;
		height: 100%;
	}

	input[type="range"] {
		position: absolute;
		left: @pad;
		bottom: @pad;
		pointer-events: all;
		opacity: 0.25;
		transition: opacity @duration;

		&:hover {
			opacity: 1;
		}
	}
}

.color-ratios {
	margin-top: @pad;
	position: relative;
	height: 3 * @pad;
	border-radius: @radius;
	background-color: @text-color;
	padding: @small-pad;
	box-sizing: border-box;
	line-height: 0;
	overflow: hidden;
}

.color-ratios_bar {
	height: 100%;
	display: inline-block;
	transition: width 100ms;
}
