// === Display view ===

.display-view {
	width: 100%;
	height: 100%;
}

.display-view__top {
	height: 60%;
	position: relative;
	padding: @pad;
	padding-bottom: 0;
	box-sizing: border-box;
}

.display-view__bottom {
	height: 40%;
	position: relative;
	padding-top: @pad;
	box-sizing: border-box;
}

.canvas-tools {
	position: relative;
	vertical-align: top;
	width: @canvas-tools-width;
	float: left;

	.pure-button {
		transition: all 250ms;
		box-sizing: border-box;
		width: 100%;
	}

	.about {
		display: inline-block;
		margin-top: @pad;
	}
}

.tool-button {
	transition: all 250ms;
	border-left: @small-pad solid transparent;
	border-radius: @radius;
	overflow: hidden;
	box-sizing: border-box;
	margin-bottom: @pad;
	color: rgba(0, 0, 0, 0.8);

	.pure-button {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;

		&.clear {
			width: 0%;
			padding: 0.5em 0;
		}
	}

	&.passive {
		border-left-width: @pad;

		.clear {
			width: 30%;
		}

		.draw {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			width: 70%;
		}
	}
}

.canvas-wrapper {
	position: relative;
	margin-left: @canvas-tools-width + 10px;
	height: 100%;

	canvas {
		.image-crisp-edges;
		height: 100%;
		width: 100%;
		display: block;
	}
}


.tool-point {
	@dim: 10px;
	@border: 1px;
	// position: absolute;
	// cursor: pointer;
	// 2*border because of border+shadow
	// width: @dim - 2 * @border;
	// height: @dim - 2 * @border;
	// tool-points are positioned using %-values. the transformation sets the
	// center of the point to the %-coordinates.
	// transform: translate(-@dim / 2,-@dim / 2);

	border: @border solid white;
	box-shadow: 0 0 0 @border black;
	border-radius: 50%;
}

.tool-point-lime {
	.tool-point;
	background-color: lime;
}

.tool-point-blue {
	.tool-point;
	background-color: blue;
}

.tool-point-red {
	.tool-point;
	background-color: red;
}

.tool-point-gray {
	.tool-point;
	background-color: gray;
}

.leaflet-container {
	background: black;
}

