@import url(vars.less);
@import url(helpers.less);

// === Libs ===

@import url(pure.less);
@import url(angularui.less);
@import url(angularmsg.less);

// === Views ===

@import url(init.less);
@import url(loading.less);
@import url(./display/main.less);
@import url(settings.less);

// === Modules ===

@import url(angular-tour.less);

// === Global ===

a {
	text-decoration: none;
	color: @text-color;
	border-bottom: 1px dotted @text-color;

	&:hover {
		border-bottom: 0;
	}
}

li + li {
	margin-top: @small-pad;
}

input {
	&[type="range"], &[type="checkbox"], &[type="radio"] {
		cursor: pointer;
	}
}

html, body, .view {
	height: 100%;
	width: 100%;
}

body {
	background-color: @dark-gray;
	color: @text-color;
}

.view {
	display: flex;
	align-items: center;
	justify-content: center;
}

.view__box {
	padding: @pad;
	box-sizing: border-box;
	background-color: @light-gray;
	border-radius: @radius;
	min-width: @view-min-width;
	position: relative;
}

.about {
	opacity: 0.5;
	transition: all @duration @transition-type;
	border: none;

	&:hover {
		opacity: 1;
		color: @info-color;
	}
}


.number, input[type="number"] {
	font-family: 'monospace';
}

i[class^="icon-"].active {
	color: @info-color;
	opacity: 1;
}

.button-row {
	display: flex;
	flex-flow: row nowrap;

	.pure-button {
		text-align: center;
		border-radius: 0;

		&:first-child {
			border-top-left-radius: @radius;
			border-bottom-left-radius: @radius;
		}

		&:last-child {
			border-top-right-radius: @radius;
			border-bottom-right-radius: @radius;
		}
	}
}