@import url(vars.less);
@import url(helpers.less);

@import url(pure.less);
@import url(angularui.less);
@import url(angularmsg.less);

// === Global ===

a {
	text-decoration: none;
	color: @text-color;
	border-bottom: 1px dotted @text-color;

	&:hover {
		border-bottom: 0;
	}
}

li + li {
	margin-top: @small-pad;
}

input {
	&[type="range"], &[type="checkbox"], &[type="radio"] {
		cursor: pointer;
	}
}

html, body, .view {
	height: 100%;
	width: 100%;
}

body {
	background-color: @dark-gray;
	color: @text-color;
}

.view {
	display: flex;
	align-items: center;
	justify-content: center;
}

.view__box {
	padding: @pad;
	box-sizing: border-box;
	background-color: @light-gray;
	border-radius: @radius;
	min-width: @view-min-width;
	position: relative;
}

.about {
	opacity: 0.5;
	transition: all @duration;
	border: none;

	&:hover {
		opacity: 1;
		color: @info-color;
	}
}

// === Views ===

@import url(init.less);
@import url(loading.less);
@import url(display.less);
@import url(settings.less);
@import url(selection.less);

// === Modules ===

@import url(spectrum-viewer.less);
@import url(custom-leaflet.less);
@import url(angular-tour.less);