// === Pure customization ===

.pure-form {
	max-width: @view-min-width;
	
	legend, label {
		color: inherit;
	}

	input[type="text"] {
		width: 100%;
	}
}

.pure-button.pure-button-primary {
	background-color: @info-color;
}