// === Selection view ===

.scroll-box {
	margin-bottom: @pad;
	max-height: 300px;
	overflow-y: auto;
	background-color: @trans-white;
}

.histogram {
	width: 512px;
	height: 200px;
	border-bottom: 1px solid white;
	position: relative;
}

.histogram__bar {
	background-color: white;
	display: inline-block;
}

.fingerprint {
	background-color: black;
	text-align: center;
}

.fingerprint canvas {
	min-width: 150px;
	height: auto;
	.image-crisp-edges;
}

h3[data-ng-click] {
	cursor: pointer;
}