.spectrum-viewer {
	height: 100%;
	position: relative;
	overflow-x: scroll;
	overflow-y: hidden;
	background-color: @light-gray;
	user-select: none;
}

.spectrum-viewer__scroll {
	min-width: 100%;
	height: 1px;
}

.spectrum-viewer__info {
	position: absolute;
	background-color: @trans-black;
	padding: @small-pad;
	white-space: nowrap;
	top: 0;
	z-index: 20;
}

.spectrum-viewer__x-axis {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 25px;
}

.spectrum-viewer__inner {
	position: absolute;
	top: 0;
	width: 100%;
	cursor: pointer;

	&.scrolling {
		cursor: grab;
	}
}

.spectrum-viewer__inner__canvas {
	pointer-events: none;
	position: relative;
	z-index: 10;
}

.spectrum-viewer__inner__ratio {
	position: absolute;
	width: 100%;
	height: 1px;
	background-color: white;
	opacity: 0.3;
	pointer-events: none;

	&.ratio--25 {
		top: 75%;

		&:before {
			content: '25%'
		}
	}

	&.ratio--50 {
		top: 50%;

		&:before {
			content: '50%'
		}
	}

	&.ratio--75 {
		top: 25%;

		&:before {
			content: '75%'
		}
	}
}

.spectrum-viewer__indicator {
	position: absolute;
	top: 0;
	height: 100%;
	width: 1px;
	background-color: @info-color;
	z-index: 11;
	pointer-events: none;
}

.spectrum-viewer__range {
	position: absolute;
	top: 0;
	height: 100%;
	opacity: 0.8;
	background-color: @success-color;
	transition: opacity @duration;
	cursor: pointer;

	&:hover {
		opacity: 1;
	}
}
