<aside class="canvas-tools">
	<div tool-button="$gray" tooltip="Select with gray shades. Clears RGB selections."></div>
	<div tool-button="red" tooltip="Select with red shades."></div>
	<div tool-button="lime" tooltip="Select with green shades."></div>
	<div tool-button="blue" tooltip="Select with blue shades."></div>
	<a href="#/settings" class="pure-button" tooltip="Settings."><i class="icon-cog icon-large"></i></a>
	<a href="#/about" class="icon-button" tooltip="About this tool."><i class="icon-question-sign"></i></a>
</aside>
<div data-canvas-wrapper=""></div>