<div class="display-view" data-tour="" data-step="tourStep.display" data-post-step="tourNext('display')" data-post-tour="tourClose('display')">
	<div class="display-view__menu" data-tourtip="These are the selection tools. Choose one by clicking the button and then click anywhere on the image on the right to make a selection." data-tourtip-step="1">
		<div class="menu__left">
			<form class="mode-switches button-row">
				<label for="mode-similarity" class="pure-button" data-ng-class="{'pure-button-active':settings.displayMode=='similarity'}" data-tooltip="Display the similarity of each point to one or more selected positions on the similarity image.">
					<input id="mode-similarity" type="radio" name="display-modes" value="similarity" data-ng-model="settings.displayMode"/>
					similarity
				</label>
				<label for="mode-mean" class="pure-button" data-ng-class="{'pure-button-active':settings.displayMode=='mean'}" data-tooltip="Display the mean intensities of all points according to one or more selected ranges in the spectrum viewer.">
					<input id="mode-mean" type="radio" name="display-modes" value="mean" data-ng-model="settings.displayMode"/>
					mean
				</label>
				<label for="mode-direct" class="pure-button" data-ng-class="{'pure-button-active':settings.displayMode=='direct'}" data-tooltip="Display the raw channel intensities of the hovered channel in the spectrum viewer.">
					<input id="mode-direct" type="radio" name="display-modes" value="direct" data-ng-model="settings.displayMode"/>
					direct
				</label>
			</form>
			<div class="marker-menu" marker-menu=""></div>
		</div>
		<div class="menu__right" data-tourtip="Finally you can configure the application by clicking on the settings button." data-tourtip-step="7" data-tourtip-next-label="Close">
			<a href="#/settings" class="pure-button" data-tooltip="Settings.">
				<i class="icon-cog"></i>
			</a>
			<button class="pure-button" data-ng-class="{'pure-button-active':settings.showSidebar}" data-ng-click="settings.showSidebar=!settings.showSidebar" data-tooltip="Toggle the regions and ranges sidebar.">
				<i class="icon-th-list"></i>
			</button>
		</div>
	</div>
	<div class="display-view__content" data-tourtip="This is the main view of QUIMBI where the similarity image and spectrum is displayed. But to see anything, you have to make a selection with one of the selection tools first." data-tourtip-step="0" data-tourtip-placement="left" data-tourtip-offset="-400" data-ng-class="{'sidebar-open':settings.showSidebar}">		
		<div class="content__main">
			<div class="main__top" data-tourtip="Now you can see the similarity image where each point is highlighted according to it's distance to the current selection. You can zoom and pan the image to explore your data." data-tourtip-step="2" data-tourtip-placement="bottom" data-tourtip-offset="-50">
				<div class="canvas-wrapper" data-canvas-wrapper=""></div></span>
				<div class="color-scale" data-color-scale="" data-ng-if="showColorScale()"></div>	
			</div><!--
			--><div class="main__bottom">
				<div data-tourtip="The mass spectrum of the current selection is displayed as well. You can zoom and pan similar to the similarity image." data-tourtip-step="3" data-tourtip-placement="top"></div>
				<div data-tourtip="By pressing shift, clicking and dragging the mouse over the spectrum, you can select a region of interest. The distance computation of the similarity image will now be restricted to the mass channels of this region. You can combine multiple regions, too." data-tourtip-step="4" data-tourtip-placement="top"></div>
				<div data-spectrum-viewer="spectrum" data-spectrum-ranges="spectrumRanges"></div>
			</div>
		</div>
		<div class="content__aside">
			<div class="aside__top">
				<h4>Regions</h4>
				<ul class="region-list" data-tourtip="All regions of interest are listed here. You can enable or disable a region by clicking on the respective list item. Edit a range by clicking on the pencil icon or remove it by clicking on '&times;'." data-tourtip-step="6" data-tourtip-placement="right">
					<li data-region-list-item="region" data-index="$index" data-ng-repeat="region in mapRegions()"></li>
				</ul>
			</div>
			<div class="aside__bottom">
				<h4>Ranges</h4>
				<ul class="range-list" data-tourtip="All spectrum ranges of interest are listed here. You can enable or disable a range by clicking on the respective list item. Edit a range by clicking on the pencil icon or remove it by clicking on '&times;'." data-tourtip-step="5" data-tourtip-placement="right">
					<li data-range-list-item="range" data-index="$index" data-ng-repeat="range in spectrumRanges"></li>
				</ul>
			</div>
		</div>
	</div>	
</div>