<div class="display-view">
	<div class="display-view__menu">
		<div class="canvas-tools">
			<div data-tool-button="$gray" data-tooltip="Select with gray shades. Clears RGB selections."></div>
			<div data-tool-button="red" data-tooltip="Select with red shades."></div>
			<div data-tool-button="lime" data-tooltip="Select with green shades."></div>
			<div data-tool-button="blue" data-tooltip="Select with blue shades."></div>
			
			<a href="#/settings" class="pure-button" data-tooltip="Settings."><i class="icon-cog icon-large"></i></a>
			<a href="#/about" class="about" data-ng-hide="properties.disableAbout" data-tooltip="About this tool."><i class="icon-question-sign"></i></a>
		</div>
		<ul class="range-list">
			<li class="range-list__item" data-ng-class="{'active':range.active}" data-ng-repeat="range in spectrumRanges" data-ng-click="range.active=!range.active">
				<i class="icon-remove" data-ng-click="removeRange($index)" data-tooltip="Remove this range."></i>
				{{channelNames[range.start]}} - {{channelNames[range.start+range.offset]}}
			</li>
		</ul>
	</div>
	<div class="display-view__content">
		<div class="display-view__top">
			<div class="canvas-wrapper" data-canvas-wrapper=""></div>
		</div>
		<div class="display-view__bottom">
			<div data-spectrum-viewer="spectrum" data-spectrum-ranges="spectrumRanges"></div>
		</div>
	</div>
</div>