<div class="view__box init-view" data-tour="" data-step="tourStep.init" data-post-step="tourNext('init')" data-post-tour="tourClose('init')">
	<span data-tourtip="Welcome to QUIMBI! If this is the first time you use the tool, this tour will guide you through all the features you need to know. Click 'Next' to continue or '&times;' to skip the tour." data-tourtip-step="0" data-tourtip-placement="left" data-tourtip-offset="52"></span>
	<form name="form" class="pure-form pure-form-stacked" data-ng-submit="submitForm(form)" novalidate="true">
		<fieldset>
			<legend>Please select a file to load</legend>
			<span data-tourtip="Choose a dataset URL to load. Then click 'Load' to continue." data-tourtip-step="1" data-tourtip-next-label="Close"></span>
			<input type="text" placeholder="Dataset URL" required="required" data-ng-model="form.file" typeahead="file for file in data.files | filter:$viewValue | limitTo:8" autofocus="autofocus"/>
		</fieldset>
		<button class="pure-button pure-button-primary" type="submit">Load</button>
	</form>
	<a href="#/about" class="about" data-tooltip="About this tool."><i class="icon-question-sign"></i></a>
</div>