<div class="view__box">
	<h3 data-ng-click="show.histogram=!show.histogram">Histogram</h3>
	<div data-ng-show="show.histogram" data-histogram="histogram.data" data-maximum="histogram.maximum"></div>
	<h3 data-ng-click="show.fingerprint=!show.fingerprint">Fingerprint</h3>
	<div data-ng-show="show.fingerprint" class="fingerprint" data-fingerprint="fingerprint"></div>
	<h3 data-ng-click="show.values=!show.values">Values</h3>
	<div data-ng-show="show.values" class="scroll-box">
		<table class="pure-table">
			<thead>
				<tr>
					<td>Intensity</td>
					<td>Number of Channels</td>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="value in intensities track by $index">
					<td><code>{{$index}}</code></td>
					<td><code>{{value.length}}</code></td>
				</tr>
			</tbody>
		</table>
	</div>
	<a data-ng-href="{{data.backRoute}}" class="pure-button" >back</a>
</div>