<div class="view__box" data-tour="" data-step="tourStep.settings" data-post-step="tourNext('settings')" data-post-tour="tourClose('settings')">
	<h1>Settings</h1>
	<form class="pure-form">
		<fieldset data-tourtip="You can choose from several distance computing methods. It depends on the nature of the dataset wich method produces best results." data-tourtip-step="0" data-tourtip-placement="top">
			<legend>Distance computing method</legend>
			<label for="dist-angle" class="pure-radio">
				<input id="dist-angle" type="radio" name="distRadios" value="angle" data-ng-model="settings.distMethod"/>
				<b>Angle distance</b>
			</label>
			<label for="dist-eucl" class="pure-radio">
				<input id="dist-eucl" type="radio" name="distRadios" value="eucl" data-ng-model="settings.distMethod"/>
				<b>Euclidean distance</b>
			</label>
			Normalized with {{info.normMethod}} <code data-ng-bind="info.norm | number:2"></code>.
		</fieldset>
		<fieldset data-tourtip="Choose one of the default color maps to apply to the distances/mean image. You can load custom color maps, too. Click on the color map preview to choose a CSV file." data-tourtip-step="1" data-tourtip-placement="top">
			<legend>Color maps</legend>

			<div class="color-map">
				<span class="color-map__single-color" data-ng-style="{'background-color':settings.colorMapSingleColors[0]}"></span>
				<label for="color-map-url-r">
					<input id="color-map-url-r" filereader="data.colorMapFileR"/>
					<div colormap-preview="data.colorMapR"></div>
				</label>
				<select data-ng-model="data.colorMapNames[0]" data-ng-options="name for name in data.availableColorMaps()"></select>
			</div>

			<div class="color-map">
				<span class="color-map__single-color" data-ng-style="{'background-color':settings.colorMapSingleColors[1]}"></span>
				<label for="color-map-url-g">
					<input id="color-map-url-g" filereader="data.colorMapFileG"/>
					<div colormap-preview="data.colorMapG"></div>
				</label>
				<select data-ng-model="data.colorMapNames[1]" data-ng-options="name for name in data.availableColorMaps()"></select>
			</div>

			<div class="color-map">
				<span class="color-map__single-color" data-ng-style="{'background-color':settings.colorMapSingleColors[2]}"></span>
				<label for="color-map-url-b">
					<input id="color-map-url-b" filereader="data.colorMapFileB"/>
					<div colormap-preview="data.colorMapB"></div>
				</label>
				<select data-ng-model="data.colorMapNames[2]" data-ng-options="name for name in data.availableColorMaps()"></select>
			</div>
		</fieldset>
		<fieldset data-tourtip="Finally there are some settings to customize the user interface." data-tourtip-step="2" data-tourtip-placement="top">
			<legend>Interface</legend>
			<label for="points-checkbox" class="pure-checkbox">
				<input id="points-checkbox" type="checkbox" value="points" data-ng-model="settings.showPoints"/>
				Show selection points.
			</label>
			<label for="color-scale-checkbox" class="pure-checkbox">
				<input id="color-scale-checkbox" type="checkbox" value="color-scale" data-ng-model="settings.showColorScale"/>
				Show color scale.
			</label>
			<label for="grid-checkbox" class="pure-checkbox">
				<input id="grid-checkbox" type="checkbox" value="grid" data-ng-model="settings.showGrid"/>
				Show a regular grid over the image.
			</label>
			<label for="overlay-checkbox" class="pure-checkbox" data-ng-if="info.hasOverlay">
				<input id="overlay-checkbox" type="checkbox" value="overlay" data-ng-model="settings.showOverlay" />
				Show overlay image.
			</label>
			<label for="reset-tour" data-tourtip="To restart the tour, reset the tooltips." data-tourtip-step="3" data-tourtip-placement="top" data-tourtip-next-label="Close">
				<input id="reset-tour" type="button" value="Reset" class="pure-button pure-button-inline" data-ng-click="resetTour()" /> the introduction-tour tooltips.
			</label>
		</fieldset>
	</form>
	<a href="#/display" class="pure-button" >back</a>
</div>
